<!DOCTYPE html>
<html>
<head>
  <title>ChatApp</title>
  <%= action_cable_meta_tag %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
</head>
<body>
  <h1>Chat Room</h1>

  <div id="messages" data-controller="chat">
    <%= render @messages %>
  </div>

  <%= form_with model: @message, data: { turbo_frame: 'new_message' } do |form| %>
    <%= form.text_field :content, placeholder: "Type a message..." %>
    <%= form.hidden_field :user, value: "User1" %>
    <%= form.submit "Send" %>
  <% end %>

  <%= turbo_frame_tag 'new_message' %>

  <%= turbo_stream_from "chat_channel" %>
</body>
</html>
